header {
  background: none;
}
footer {
  background: none;
}
.menu-desk {
  border-bottom: none;
  background: none;
}
.contact-info {
  border-top: none;
  padding-bottom: 20px;
  border-bottom: 2px solid #ED1C24;
}
.copyright {
  background: #222;
}

/*Video*/
.container {
  width: 100%;
  text-align: center;
}
/* Video */
.myVideo {

  max-width: 60%;
}

@media (max-width: 949px) {
  .myVideo {
  width: 90%;
}